body {

	background: lightgray;
	margin: o;
	height: auto;
	position: relative;
	padding-left: 0;
	padding-right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	
}




h1{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}


@media screen and (max-width:768px){


	
}

/* pic  */
#pic{
	
	float: right;
	margin-left: 90px;
	margin-right: 20px;
	margin-top: 300px;
}

.task {

	margin-bottom: 50px;

}


